.lerartigo{
    width: 100%;
    display: flex;
    align-items: start;
    gap: 0.5em;
}


.sec2banner{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    gap: 1em;
    width: 90%;
    align-items: center;
    padding-top: 2em;
    padding-bottom: 2em;
}

#blogcardszindex{
    z-index: -1;
}

.blogcards{
    display: flex;
    justify-content: center;
}


#cardblog{
    flex: 1 1 calc(33.33% - 16px);
    max-width: calc(33.33% - 16px);
    min-width: 250px; 
}