body{
    background-color: var(--bs-body-bg)
}

.titulo{
    color: white;
    font-family: 'Cormorant Infant';
    font-size: 1em;
    font-weight: 900;

}




.sub{
    color: var(--highlight);
}

.titulo{
    font-size: 3.1em;

}

.texto{
    margin-top: 2.5em;
    margin-bottom: 2.5em;
    font-size: 1.5em;
    color: white;
    font-weight: 400;
}


.conteudo-banner {
    background-image: url('../imagens/bg/bg-hero-section.webp');
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
    min-height: 400px; 
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 2em;
}





.banner-btn{
    display: flex;
    gap: 0.5em; 
}

.cta-btn {
    border: 2px solid white; 
    border-radius: 25px; 
    background-color: transparent; 
    color: white; 
    padding: 0.8em 2em; 
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease; 
    width: 25%; 
    margin: 1em 0; 
    padding-left: 2em; 
    display: flex; 
    text-align: center; 
}


.cta-btn:hover {
    background-color: rgba(255, 255, 255, 0.1); 
}


.cta-btn a {
    color: inherit; 
    text-decoration: none;
    display: inline-block;
    width: 100%; 
}

.cta-btn:hover {
    background-color: transparent; 
    color: white; 
}



.cta-btn.me-3{
    background-color: antiquewhite;
    color: red;
}


.cta-btn.me-3:hover{
    background-color: transparent; 
    color: white
}



.cta-btn.prime {
    color: white; 
    background-color: transparent; 

}


.cta-btn.prime:hover {
    background-color: red; 
    color: white; 
}

.cta-btn i {
    transition: transform 0.3s ease;
}



/* secao 2 */


.historia{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 2em;
    padding-top: 2em;
}


.historia-titulo{
    display: flex;
    text-align: center;
    flex-direction: column;
    align-items: center;
}

.conteudo-historia{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.conteudo-imagem{
    display: flex;
    justify-content: center
}

.titulo-sec2{
    font-family: 'Signika';
    font-size: 30px;
    font-weight: 800;

}

.subtitulo{
    font-size: 2em;
    color: var(--primary);
    font-weight: bold;

}

.sub-titulo{
    font-size: 1.5em;
    color: var(--black-color);
    font-weight: bold;

}

.descricao{
    color:var(--gray-color);
}






.sub2{
    color: var(--secondary);
    font-family: 'Cormorant Infant';
}






@media (max-width: 768px) {
    .conteudo-banner {
        min-height: 300px; /
    }
    .cta-btn{
        width: 30%
    }
}

@media (max-width: 480px) {
    .conteudo-banner {
        min-height: 200px; 
        padding: 0;
    }

    .cta-btn{
        width: 50%
    }
}




@media (min-width: 1000px) {
    .conteudo-banner{
        height: 100vh;
        padding-left: 8em; 
    }

    .cta-btn{
        width: 20%
    }

    .historia{
        flex-direction: column;
    }

    .secoes{
        display: flex;
        gap: 4em;
        align-items: center;
    }
    .conteudo-historia{
        display: flex;
        flex-direction: column;
        align-items: end;
        text-align: end;
    }

    #descricaohistoria{
        text-align: end;
    }

    
}



@media (max-width: 600px) {
    .conteudo-banner{
        padding-top: 3em;
        padding-bottom: 3em;
    }

    .banner-btn{
        display: flex;
        width: 100%;
    }
    #botaobanner{
        width: 100%;
    }
    

}

/* 
@media (max-width: 575px) {
    h4 {
        font-family: 'Signika';
        font-size: 28px;
        font-weight: 800;
        line-height: 38px;
    }
}

@media (max-width: 767px) {
    h4 {
        font-family: 'Signika';
        font-size: 28px;
        font-weight: 800;
        line-height: 38px;
    }
}
@media (max-width: 991px) {
    h4 {
        font-family: 'Signika';
        font-size: 28px;
        font-weight: 800;
    }
}
@media (max-width: 1199px) {
    h4 {
        font-family: 'Signika';
        font-size: 30px;
        font-weight: 800;
    }
}
@media (max-width: 1399px) {
    h4 {
        font-family: 'Signika';
        font-size: 36px;
        font-weight: 800;
    }
}
h4 {
    font-family: 'Signika';
    font-size: 36px;
    font-weight: 800;
} */