.cabeçalho-icon{
    background-color: var(--secondary);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 2%;
    padding-right: 2%;
    
}

.minha-div:hover{
    border-top: 2px solid black; 
    border-bottom: 2px solid black;
}

#botaodrop:hover{
    border-top: 2px solid black; 
    border-bottom: 2px solid black;
}


.cabecalho-login{
    display: flex;
    align-items: center;
    gap: 0.5em;
}

.cabecalho-contato{
    display: flex;
    gap: 1em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
   

}

.textoinvisivel{
    display: none;
    color: var(--white-color);
}

.imgorin{
    height: 6em;
}

.icon{
    height: 3em; 
    width: auto;
}

.login-incone{
    margin: 0;
    color: var(--white-color);
}


/* navbar */

#link-menu{
    color: var(--primary);
    font-weight: 700;
    font-size: 1.2em;
    
}

#popuplink{
    color: var(--primary);
    font-weight: 700;
    font-size: 1.2em;
}


#nav-id{
    height: 6em;
    /* padding-bottom: 5em; */
}
.navbar {
    border-top: 2px ;
   

}
.navbar-toggler {
    border: none; /* Remove borda do botão hambúrguer */
}



.navbar-collapse {
    justify-content: center; /* Centraliza os links */
}
.navbar-icons {
    display: flex;
    gap: 10px;
}
.navbar-icons img {
    width: 24px;
    height: 24px;
}
/* mudando para o menu mobile */
.divmobile{
    display: none;
}



/* abaixando o menu no header */

@media (max-width: 500px) {
    #menumobile {
      display: none;
    }
    .divmobile{
        display: block;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        position: absolute;
        background-color: white; 
        top: 100%;
    }

    #navbarNav {
        /* background-color: aqua; */
        padding-left: 0;
        padding-top: 0.2em;

       
    }
    
}




@media (min-width: 600px) {
    .textoinvisivel{
        display: block;
        align-self: center;
        margin: 0;
       
    }
    
}

@media (max-width: 992px) {
  

    .navbar-collapse {
        background-color: var(--bs-body-bg);
        position: absolute;
        top: 100%;
        left: 50%; /* Move a navbar para o centro da tela */
        transform: translateX(-50%); /* Ajusta a posição para centralizar */
        width: 50%; /* Deixa a largura automática com base no conteúdo */
        
        text-align: center;
        padding: 20px 0;
    }
}