@import url("header.css");
@import url(corpo.css);
@import url(sec3.css);
@import url(sec4.css);
@import url(sec5.css);
@import url(sec6.css);
@import url(sec7.css);
@import url(sec9.css);
@import url(sec10.css);

:root{
    --body-font: "Reddit Sans", sans-serif;
    --title-font: "Reddit Sans", sans-serif;
    --content-font: "Reddit Sans", sans-serif;
    --meta-font: "Reddit Sans", sans-serif;
    --primary: #050A3A;
    --secondary: #C00820;
    --light: #FAF6F3;
    --highlight: #E8DA5C;
    --white-color: #ffffff;
    --black-color: #000000;
    --gray-color: #303030;
    --light-gray-color: #A1A1A1;
    --gray-1-color: #585858;
    
}


  
#falupa{
    color: var(--primary);

}

  .bola1 {
    position: fixed;
    width: 15px;
    height: 15px;
    border-radius: 50%; 
    pointer-events: none; 
    transform: translate(-50%, -50%); 
    background: var(--primary); 
    z-index: 10; 
  }
  
  .bola2 {
    position: fixed;
    width: 30px;
    height: 30px;
    border-radius: 50%; 
    pointer-events: none; 
    transform: translate(-50%, -50%); 
    background: var(--secondary);
    z-index: 9; 
    transition: transform 0.3s ease-out;
  }
