.sec3{
    background-color: var(--light);
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
    padding-top: 5em;
    padding-bottom: 5em;
    gap: 2em;

}
.imgsec3{
  width: 80%;
}

.secconteudo{
    display: flex;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

#botaover{
    width: 7em;
    
    
}

.data{
    display: flex;
 
    justify-content: center;
    align-items: center;
    gap: 1.5em;
}


.valordta{
    margin: 0;
    align-self: center;
}
.traco{
   
    background-color: black;
    width: 8em;
    height: 2px;
}



@media (min-width: 1000px) {
   .sec3{
    display: flex;
    flex-direction: row;
    gap: 5em;

   }

    .secconteudo{
        display: flex;
        justify-content: flex-start;
        text-align: start;
        align-items: flex-start;
    }


    
}


.igmsec2{
    position: relative; 
    animation: movepracima  3s infinite;

}

.imgsec3{
    position: relative; 
    animation: movepracima  3s infinite;
  }

  .produto{
    position: relative; 
    animation: movepracima  3s infinite;
  }

  .imgvinhoab{
    /* position: relative;  */
    animation: movepracima2  3s infinite; 
    /* transform: translateX(30px); */

    
  }

  .imgdirblog{
     transform: translateX(-3em);
     z-index: -1;
  }
  
  @keyframes movepracima{
    0% {
        transform: translateY(0) ; 
    }
    50% {
        transform: translateY(30px); 
    }
    100% {
        transform: translateY(0); 
    }
  }


  @keyframes movepracima2{
    
    0% {
       
        transform: translateY(0);
       
    }
    50% {
        
        transform: translateY(30px);
        
    }
    100% {
        
        transform: translateY(0);
        
    }
  }





   




