.sec3 {
    background-color: var(--light);
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
    padding-top: 5em;
    padding-bottom: 5em;
    gap: 2em;

}

.sec3Titulo {
    color: var(--primary);

}

.sec3secsubtitulo {
    font-family: 'Cormorant Infant';
    color: var(--bs-heading-color);
    font-size: 2em;
}

.sec3span {
    font-family: 'Cormorant Infant';
    color: var(--secondary);
    font-size: 1em;
}



#botaoreadmore {
    width: 8em;

}

.imgsec3 {
    width: 80%;
}

.secconteudo {
    display: flex;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

#botaover {
    width: 7em;


}

.data {
    display: flex;

    justify-content: center;
    align-items: center;
    gap: 1.5em;
}


.valordta {
    margin: 0;
    align-self: center;
}

.traco {

    background-color: black;
    width: 8em;
    height: 2px;
}

.secao1 {
    margin-left: 2em;
    margin-right: 2em;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#margemuva {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1em;
    margin-bottom: 3em;
}

@media (max-width: 500px) {
    .secao1 {
        width: 100%;
    }

    #uvamenor {
        width: 20em;
    }

    .descricao {
        font-size: 1em;
    }

    .secao1 {
        width: 80%;
    }

    .texto {
        margin-left: 1em;
        margin-right: 1em;
    }

    .titulo {
        margin-left: 1em;
        margin-right: 1em;

    }

    .sec3sec {
        margin-left: 1em;
        margin-right: 1em;

    }

}


@media (min-width: 1000px) {
    .sec3 {
        display: flex;
        width: 100%;
        flex-direction: row;
        justify-content: center;
        gap: 5em;

    }

    .secimg {
        width: 30% !important;
    }

    .secconteudo {
        width: 30%!important;
    }



    .descricao-vinho-sec2 {
        text-align: start;
    }

    .secconteudo {
        display: flex;
        justify-content: flex-start;
        text-align: start;
        align-items: flex-start;
    }



}

@media (min-width: 1600px) {
    .secimg {
        width: auto;
    }

    .secconteudo {
        width: auto;
    }


}

.secao2 {
    display: flex;
    justify-content: center;
}

.igmsec2 {
    position: relative;
    animation: movepracima 3s infinite;

}

.secimg {
    display: flex;
    justify-content: center;
}

.imgsec3 {
    /* display: flex;
    justify-content: center; */
    position: relative;
    animation: movepracima 3s infinite;
}

.produto {
    position: relative;
    animation: movepracima 3s infinite;
}

.imgvinhoab {
    animation: movepracima2 3s infinite;
}



@keyframes movepracima {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(30px);
    }

    100% {
        transform: translateY(0);
    }
}


@keyframes movepracima2 {

    0% {

        transform: translateY(0);

    }

    50% {

        transform: translateY(30px);

    }

    100% {

        transform: translateY(0);

    }
}