
.sec4{
padding-top: 5em;
padding-bottom: 5em;
display: flex;
flex-direction: column;
justify-content: space-around;
gap: 2em;
}
.sec4sex1{
   display: flex;
   flex-direction: column-reverse;
   gap: 5em;
    
} 

.sec4sex2{
    display: flex;
    flex-direction: column-reverse;
    gap: 5em;
     
 } 
 

 .conteudo-sec4{
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
 }


 .secimg{
   display: flex;
   justify-content: center;
 }

 .imgssec4{
   width: 100%;
 }


 @media (min-width: 1000px) {
   .sec4{
    display: flex;
    flex-direction: row;
   }

   .sec4sex1{
    display: flex;
    flex-direction: column;
    gap: 5em;
     
 } 
 
 .sec4sex2{
     display: flex;
     flex-direction: column-reverse;
     gap: 5em;
      
  }
  
  
     
 }


  /* animacao */
 .imgssec4{
  position: relative; 
  animation: moveDireitaVolta 3s infinite;

}

#imgani2{
  position: relative; 
  animation: moveEsquerdaVolta  3s infinite;
}

@keyframes moveEsquerdaVolta {
  0% {
      transform: translateX(0); 
  }
  50% {
      transform: translateX(-30px); 
  }
  100% {
      transform: translateX(0); 
  }
}
 

 @keyframes moveDireitaVolta {
  0% {
      transform: translateX(0); 
  }
  50% {
      transform: translateX(30px); 
  }
  100% {
      transform: translateX(0); 
  }
}
 




