
.sec4{
padding-top: 5em;
padding-bottom: 5em;
display: flex;
flex-direction: column;
justify-content: space-around;
gap: 2em;
}
.sec4sex1{
   display: flex;
   flex-direction: column-reverse;
   gap: 5em;
    
} 

.sec4sex2{
    display: flex;
    flex-direction: column-reverse;
    gap: 5em;
     
 } 
 

 .conteudo-sec4{
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
 }


 .secimg{
   display: flex;
   justify-content: center;
 }

 .imgssec4{
   width: 100%;
 }

 .secoes{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

 }


 .nomeproduto{
  font-family: 'Signika';
  color: var(--bs-heading-color); 
 }
.descricaoproduto{
  color: var(--light-gray-color);
  font-weight: 400;
}

.valorproduto{
  font-weight: 700;
}


 @media (max-width: 850px) {
  .sec4sex1{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .sec3sec{
    text-align: center;
  }
  .sec4sex2{
    display: flex;
    justify-content: center;
    align-items: center;
  }
   #diminuirvinho{
    width: 80%;
   }
   .diminuir{
    width: 80%;
   }
   .descricao{
    text-align: center;
   }
   h5{
    margin-left: 1em; 
   }

   p{
    margin-left: 0;
    margin-left: 0.5em; 
   }
   .discover{
    margin-left: 1em;
   }


 }


 @media (min-width: 1000px) {
   .sec4{
    display: flex;
    flex-direction: row;
   }
   

   .sec4sex1{
    display: flex;
    flex-direction: column;
    gap: 5em;
     
 } 
 
 .sec4sex2{
     display: flex;
     flex-direction: column-reverse;
     gap: 5em;
      
  }

  .secoes{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    
   }
  
  
     
 }


  /* animacao */
 .imgssec4{
  position: relative; 
  animation: moveDireitaVolta 3s infinite;

}

#imgani2{
  position: relative; 
  animation: moveEsquerdaeVolta   3s infinite;
}




@keyframes moveEsquerdaeVolta {
  0% {
      transform: translateX(0); 
  }
  50% {
      transform: translateX(-30px); 
  }
  100% {
      transform: translateX(0); 
  }
}
 





@keyframes moveEsquerdaVolta {
  0% {
      transform: translateX(0); 
  }
  50% {
      transform: translateX(-30px); 
  }
  100% {
      transform: translateX(0); 
  }
}
 

 @keyframes moveDireitaVolta {
  0% {
      transform: translateX(0); 
  }
  50% {
      transform: translateX(30px); 
  }
  100% {
      transform: translateX(0); 
  }
}
 




