
.sec4{
padding-top: 5em;
padding-bottom: 5em;
display: flex;
flex-direction: column;
justify-content: space-around;
gap: 2em;
}
.sec4sex1{
   display: flex;
   flex-direction: column-reverse;
   gap: 5em;
    
} 

.sec4sex2{
    display: flex;
    flex-direction: column-reverse;
    gap: 5em;
     
 } 
 

 .conteudo-sec4{
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
 }



 @media (min-width: 1000px) {
   .sec4{
    display: flex;
    flex-direction: row;
   }

   .sec4sex1{
    display: flex;
    flex-direction: column;
    gap: 5em;
     
 } 
 
 .sec4sex2{
     display: flex;
     flex-direction: column-reverse;
     gap: 5em;
      
  } 
   
 
 
     
 }
 




