.background-secoes {
    background-color: var(--light);
    display: flex;
    flex-direction: column;
    align-items: center;
    height: auto;
    padding-top: 3em;
    padding-bottom: 3em;


}

.sec7 {
    margin-top: 5em;
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
    align-self: center;
    gap: 5em;
}


.perfils {
    display: flex;
    flex-direction: column;
    justify-content: start;
    text-align: start;
    /* align-items: center; */
    gap: 0.1em;

}



#perfils-centro {
    align-items: center;
}





.perfil {
    border-radius: 50%;
}


.nome {
    color: var(--secondary);
    font-family: 'Cormorant Infant';
}


.funcao {
    color: var(--gray-1-color);
    font-weight: 500;
}

.tituloartigo {
    font-family: 'Cormorant Infant';
    color: var(--bs-heading-color);
}


.titutlogeral{
    font-weight: 700;
    color: var(--primary);
}

.subtitulogeral{
    font-family: 'Cormorant Infant';
    text-align: center;
    font-size: 52px;
}