.imagemProduto {
    display: flex;
    justify-content: center;
    background-color: var(--light);
    width: 20em;
    padding-top: 3em;
    padding-bottom: 3em;
    height: auto;
}

.secao-we-make {
    display: flex;
    padding-top: 5em;
    padding-bottom: 5em;

    justify-content: center;

}

.titulosecao-we-make {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2em;
}


.produtossecao-we-make {
    display: flex;
    flex-direction: column;
    gap: 2em;

}

.conteudo-secao-we-make {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}


.inforProduto {
    padding-top: 2em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}



@media (min-width: 1000px) {
    .titulosecao-we-make {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
        gap: 8em;
    }

    .conteudo-secao-we-make {
        padding-left: 3em;
        align-items: start;
    }
    .subtitulogeral{
        text-align: start !important;
    }

    


    .produtossecao-we-make {

        display: flex;
        flex-direction: row;
        gap: 5em;
    }


}